html{
    font-family: sans-serif;
    font-size: 10px;
}

p {
   /* Configuración del espaciado */
   width: 200px;
   margin: 170px auto;  
   padding: 4px;
   line-height: 2.5em;
   text-align: center;
   
   /* Configuración de fuentes */
   color: red;
   font-size: 1.8em;
   text-shadow: 1.5px 1.5px 1px #000;

   /* Bordes */
   border: 1px solid rgba(0,0,0,0.4);
   border-radius: 8px;

   /* Fondos y gradientes */
   background: 
    /* En firesfoxx */
    /* En Chrome hay.. */
     linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.3) 100%)
     no-repeat center 0, red;

   /* Sombra de la caja */
   box-shadow: 
	   inset 2.5px 2.5px 2px rgba(255,255,255,0.5),
       inset -2.5px -2.5px 4px rgba(0,0,0,0.4),
       -0.3px -0.3px 4px rgba(0,0,0,0.5),
       2px 2px 10px rgba(0,0,0,0.6);
}