/* Parte principal */

article {
  background-image: 
    url(https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/top-image.png),
    url(https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/bottom-image.png),
    linear-gradient(grey 0%, white 20% 80%, grey 100%);
  background-repeat: no-repeat;
  background-position: top,bottom;
  border-top: 1mm solid red
  border-bottom: 1mm solid red; 
  background-color: white;
}

/* El logo */

h1 {
  background: url(https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/logo.png);
  filter: drop-shadow(6px 6px 3px black);
}