.estiloCajaMensaje {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 242px;
	border-radius: 10px;
	background-color: #eee;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));
 }

 .estiloCajaMensaje p {
	line-height: 1.5;
	padding: 10px 20px;
	color: #333;
	padding-left: 82px;
	background-position: 25px center;
	background-repeat: no-repeat;
 }

 .estiloCajaMensaje button {
	background: none;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.1rem;
	color: #aaa;
 }