body {
  margin: 10px;
  background: #f5f9fa;
}

.salida * {
  box-sizing: border-box;
}

.salida ul {
  padding-left: 0;
}

.salida li {
  display: block; 
  float: left; 
  width: 25%;
  border: 2px solid white;
  padding: 5px;
  height: 40px;
  background-color: #4a2db6;
  color: white;
}

html {
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
}
